[build]
  base = "client"
  command = "npm install && CI=false npm run build"
  publish = "build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  CI = "false"
  ESLINT_NO_DEV_ERRORS = "true"